Repository gobeam/truthy: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run prettier:write

feat: pagination added for refresh token list and twofa module changes
  config/default.yml
  src/app.module.ts
  src/auth/auth.controller.ts
  src/auth/auth.service.spec.ts
  src/auth/auth.service.ts
  src/auth/dto/user-login.dto.ts
  src/auth/user.repository.spec.ts
  src/common/constants/exception-title-list.constants.ts
  src/common/guard/custom-throttle.guard.ts
  src/common/pipes/i18n-exception-filter.pipe.ts
  src/config/email-template-data.ts
  src/i18n/en/exception.json
  src/i18n/ne/exception.json
  src/refresh-token/dto/refresh-paginate-filter.dto.ts
  src/refresh-token/refresh-token.module.ts
  src/refresh-token/refresh-token.repository.ts
  src/refresh-token/refresh-token.service.spec.ts
  src/refresh-token/refresh-token.service.ts
  src/refresh-token/serializer/refresh-token.serializer.ts
  src/twofa/twofa.controller.ts
  src/twofa/twofa.service.ts
Due: npm run lint, npm run prettier:write

feat: add dashboard stats feature
  src/app.module.ts
  src/auth/auth.controller.ts
  src/auth/auth.service.spec.ts
  src/auth/auth.service.ts
  src/config/permission-config.ts
  src/dashboard/dashboard.controller.ts
  src/dashboard/dashboard.module.ts
  src/dashboard/dashboard.service.spec.ts
  src/dashboard/dashboard.service.ts
  src/dashboard/dto/create-dashboard.dto.ts
  src/dashboard/dto/update-dashboard.dto.ts
  src/dashboard/entities/dashboard.entity.ts
  src/dashboard/interface/browser-stats.interface.ts
  src/dashboard/interface/os-stats.interface.ts
  src/dashboard/interface/user-stats.interface.ts
  src/database/migrations/1629136129718-AddBrowserAndOsColumnRefreshTokenTable.ts
  src/refresh-token/entities/refresh-token.entity.ts
  src/refresh-token/refresh-token.repository.ts
  src/refresh-token/refresh-token.service.ts
  src/refresh-token/serializer/refresh-token.serializer.ts
Due: npm run lint, npm run prettier:write

fix(chart): update key name
  src/refresh-token/refresh-token.service.ts
Due: npm run lint, npm run prettier:write

fix: package script 'start' changes
  index.js
  package.json
Due: npm run prettier:write

fix: update README.md file
  .env.example
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  Dockerfile
  Dockerfile.dev
  README.md
  bin/cli.js
  docker-compose.yml
  package.json
  src/app.module.ts
  src/main.ts
Due: npm run lint, npm run prettier:write

fix: version changed to 0.1.0
  package.json
Due: npm run prettier:write

chore: images folder removed from gitignore
  .gitignore
  images/logo.svg
  images/profile/.gitignore
Due: none

chore: update README.md
  README.md
Due: none

fix: gmail inline image issue fix for 2fa activation
  src/auth/auth.service.ts
  src/config/email-template-data.ts
  src/i18n/en/exception.json
  src/i18n/ne/exception.json
  src/mail/interface/mail-job.interface.ts
  src/mail/mail.processor.ts
  src/twofa/twofa.controller.ts
Due: npm run lint, npm run prettier:write

chore: update README.md
  README.md
  package.json
Due: npm run prettier:write

chore: update project name in package.json
  package.json
Due: npm run prettier:write

chore: audit fixes by updating packages
  README.md
  package.json
  src/app.module.ts
  src/auth/auth.module.ts
  src/auth/auth.service.ts
  src/auth/dto/jwt-payload.dto.ts
  src/common/strategy/jwt-two-factor.strategy.ts
  src/common/strategy/jwt.strategy.spec.ts
  src/common/strategy/jwt.strategy.ts
  src/mail/mail.processor.ts
  src/main.ts
  src/refresh-token/refresh-token.service.ts
  yarn.lock
Due: npm run lint, npm run prettier:write

fix: refresh token decode issue due to jwt upgrade fixed
  README.md
  src/auth/auth.service.ts
  src/refresh-token/interface/refresh-token.interface.ts
  src/refresh-token/refresh-token.service.spec.ts
  src/refresh-token/refresh-token.service.ts
Due: npm run lint, npm run prettier:write

chore: update README.md and update version of package
  README.md
  package.json
Due: npm run prettier:write

chore: update README.md add buy me coffee badge and cms gif
  README.md
Due: none

fix: same site attribute added for heroku deployment
  src/auth/auth.service.ts
Due: npm run lint, npm run prettier:write

fix: same site enable in cookie env variable data type issue resolved
  src/auth/auth.service.ts
Due: npm run lint, npm run prettier:write

fix: same site config issue resolved
  src/auth/auth.service.ts
Due: npm run lint, npm run prettier:write

chore: change nest-cli.json to update copy mail assets during build
  README.md
  nest-cli.json
Due: npm run prettier:write

fix: mail template path issue during production build fixed
  config/development.yml
  package.json
  src/mail/mail.module.ts
  src/mail/mail.processor.ts
Due: npm run lint, npm run prettier:write

chore: update config
  config/development.yml
Due: none

chores: update README.md for live servers
  README.md
Due: none

feat: add winston logger and setup for e2e test suite
  .env.example
  .github/workflows/test.yml
  README.md
  config/default.yml
  package.json
  public/images/logo.svg
  public/images/profile/.gitignore
  src/app.controller.ts
  src/app.module.ts
  src/auth/auth.controller.ts
  src/auth/auth.service.ts
  src/config/winston.ts
  test/e2e/app.e2e-spec.ts
  test/e2e/app/app.e2e-spec.ts
  test/e2e/example.e2e-spec.ts
  test/e2e/jest-e2e.json
  test/factories/app.ts
  test/factories/throttle.ts
  test/utility/create-mock.ts
  yarn.lock
Due: npm run lint, npm run prettier:write

fix: upgrade dependencies for stale packages
  package.json
  yarn.lock
Due: npm run prettier:write

docs: add workflow test badge in README.md and add e2e test command on workflow
  .github/workflows/test.yml
  README.md
Due: none

fix: update env variable for test db in github flow
  .github/workflows/test.yml
Due: none

fix: update github action to include environment variable
  .github/actions/setvars/action.yml
  .github/actions/variables/myvars.env
  .github/workflows/test.yml
Due: none

fix: update github action to include environment variable
  .github/workflows/test.yml
Due: none

fix: update github action to include environment variable
  .github/variables/myvars.env
Due: none

fix: update github action to include environment variable
  package.json
Due: npm run prettier:write

ci: debug e2e test setting
  test/factories/app.ts
Due: npm run lint, npm run prettier:write

ci: debug e2e test setting
  .github/variables/myvars.env
  package.json
Due: npm run prettier:write

ci: debug e2e test redis setting
  .github/workflows/test.yml
  test/factories/app.ts
Due: npm run lint, npm run prettier:write

Path conditions:
  npm run lint: any of: {src,apps,libs,test}/**/*.ts
  npm run prettier:write: any of: ./**/*.{ts,js,json,*rc}
