Repository gobeam/truthy: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run prettier:write

test: authcontroller login e2e test added
  package.json
  test/e2e/auth/auth.e2e-spec.ts
  test/factories/role.factory.ts
  test/factories/user.factory.ts
  test/utility/extract-cookie.ts
  yarn.lock
Due: npm run lint, npm run prettier:write

fix: absoulte path imports issue in email template seeder fixed
  .github/actions/setvars/action.yml
  .github/variables/myvars.env
  .github/workflows/test.yml
  README.md
  package.json
  src/config/email-template.ts
  src/database/seeds/create-email-template.seed.ts
  test/factories/app.ts
Due: npm run lint, npm run prettier:write

fix: validation issue fixed
  src/common/pipes/custom-validation.pipe.ts
  src/common/pipes/i18n-exception-filter.pipe.ts
Due: npm run lint, npm run prettier:write

feat: update winston configuration, logout logic fixed and refresh token expires issue resolved
  package.json
  src/auth/auth.controller.ts
  src/common/exception/exception-filter.ts
  src/config/winston.ts
  src/main.ts
  src/refresh-token/refresh-token.service.ts
  yarn.lock
Due: npm run lint, npm run prettier:write

chore: fix audit vulnerability
  package.json
  yarn.lock
Due: npm run prettier:write

chore: update package version
  package.json
Due: npm run prettier:write

fix: update github action add env variables
  .github/workflows/test.yml
Due: none

test: debug env variable issue in github action
  src/config/ormconfig.ts
Due: npm run lint, npm run prettier:write

test: debug env variable issue in github action
  .github/workflows/test.yml
Due: none

test: debug env variable issue in github action
  .github/workflows/test.yml
  src/config/ormconfig.ts
  test/factories/app.ts
Due: npm run lint, npm run prettier:write

test: debug env variable issue in github action
  test/factories/app.ts
Due: npm run lint, npm run prettier:write

test: debug github action
  test/factories/app.ts
Due: npm run lint, npm run prettier:write

chore: update github action workflow for e2e test
  .github/workflows/test.yml
  test/factories/app.ts
Due: npm run lint, npm run prettier:write

chore: update github action workflow for e2e test
  .github/workflows/test.yml
Due: none

test: debug if github action working
  test/factories/app.ts
Due: npm run lint, npm run prettier:write

test: auth module e2e test added
  test/factories/app.ts
Due: npm run lint, npm run prettier:write

test: update db connection close logic in e2e app factory
  test/factories/app.ts
Due: npm run lint, npm run prettier:write

test: update db connection close logic in e2e app factory
  test/e2e/app/app.e2e-spec.ts
Due: npm run lint, npm run prettier:write

test: update db connection close logic in e2e app factory
  test/e2e/auth/auth.e2e-spec.ts
  test/e2e/example.e2e-spec.ts
Due: npm run lint, npm run prettier:write

test: update db connection close logic in e2e app factory
  src/refresh-token/entities/refresh-token.entity.ts
  test/factories/app.ts
Due: npm run lint, npm run prettier:write

test: update e2e configuration
  src/config/ormconfig.ts
  src/refresh-token/entities/refresh-token.entity.ts
  test/e2e/app/app.e2e-spec.ts
  test/e2e/auth/auth.e2e-spec.ts
  test/e2e/example.e2e-spec.ts
  test/factories/app.ts
Due: npm run lint, npm run prettier:write

test: github action workflow updated
  .github/workflows/ci.yml
  .github/workflows/test.yml
  docker-compose-test.yml
  package.json
Due: npm run prettier:write

test: github action workflow updated
  .github/workflows/ci.yml
  package.json
Due: npm run prettier:write

test: github action workflow updated
  docker-compose-test.yml
Due: none

test: github action workflow updated
  .github/workflows/ci.yml
  docker-compose-test.yml
Due: none

test: github action workflow envars updated
  docker-compose-test.yml
Due: none

test: github action e2e env nodejs version fixed
  .github/workflows/ci.yml
Due: none

chore: fix lint issue
  test/factories/app.ts
Due: npm run lint, npm run prettier:write

chore: fix lint issue
  .github/workflows/ci.yml
  docker-compose-test.yml
Due: none

chore: update app version from 0.3.2 to 0.3.3
  package.json
Due: npm run prettier:write

chore: update app version from 0.3.2 to 0.3.3
  yarn.lock
Due: none

chore: update app version from 0.3.2 to 0.3.3
  package.json
  yarn.lock
Due: npm run prettier:write

chore: yarn used for dependency management in github action workflow
  .github/workflows/ci.yml
Due: none

chore: udpate workflow badge in README.md
  README.md
Due: none

Path conditions:
  npm run lint: any of: {src,apps,libs,test}/**/*.ts
  npm run prettier:write: any of: ./**/*.{ts,js,json,*rc}
